.home-hero {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/images/wallpapers/slider-3.jpg");
  background-size: cover;
  background-position: bottom;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 3;
}

.home-hero::before {
  content: "";
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}